<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Mukta:300,400,700}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" />
	<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" />
	<link rel="stylesheet" th:href="@{/css/aos.css}" />
</head>

<body class="bg-light">
	<div class="site-wrap">
		<header class="site-navbar" role="banner">

		</header>
		<div>

			<div class="container mt-5">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h2 class="text-center">Forgot Password</h2>
							</div>

							<div class="card-body">
								<div th:if="${error != null}" class="alert alert-danger">
									<p th:text="${error}"></p>
								</div>
								<div th:if="${message != null}" class="alert alert-warning">
									<p th:text="${message}"></p>
								</div>

								<form th:action="@{/forgot_password}" method="post">
									<div class="form-group">
										<p>We will be sending a reset password link to your email.</p>
									</div>

									<div class="form-group">
										<label for="email">Enter your e-mail</label>
										<input type="email" id="email" name="email" class="form-control" required
											autofocus />
									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-primary">Send</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="site-footer border-top">

		</footer>
	</div>




	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>