<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Reset your password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Mukta:300,400,700}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" />
	<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" />
	<link rel="stylesheet" th:href="@{/css/aos.css}" />
</head>

<body>

	<div class="row d-flex justify-content-center">
		<h2>Reset Your Password</h2>
	</div>


	<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password" class="form-control"
						placeholder="Enter your new password" required autofocus />
				</p>
				<p>
					<input type="password" class="form-control" placeholder="Confirm your new password" required
						oninput="checkPasswordMatch(this);" />
				</p>
				<p class="text-center">
					<input type="submit" value="Change Password" class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		function checkPasswordMatch(passwordInput) {
			var password1 = document.getElementById("password").value;
			var password2 = passwordInput.value;

			if (password1 !== password2) {
				passwordInput.setCustomValidity("Passwords do not match");
			} else {
				passwordInput.setCustomValidity(""); // Reset custom validation message
			}
		}
	</script>



</body>

</html>