<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section>
		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black">Cart</strong></div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-12">
						<div class="site-blocks-table">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="product-thumbnail">Image</th>
										<th class="product-name">Product</th>
										<th class="product-price">Price</th>
										<th class="product-quantity">Quantity</th>
										<th class="product-total">Total</th>
										<th class="product-remove">Remove</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="item : ${cartItems}">
										<td class="product-thumbnail">
											<img th:src="@{'/images/' + ${item.product.productImage}}" alt="Image"
												class="img-fluid">
										</td>
										<td class="product-name">
											<h2 class="h5 text-black" th:text="${item.product.productName}"></h2>
										</td>
										<td th:text="'$' + ${item.product.productPrice}"></td>
										<td>
											<form th:action="@{'/update-total-price'}" class="js-update-form"
												method="post">
												<div class="input-group mb-3" style="max-width: 120px;">

													<input type="hidden" name="productId"
														th:value="${item.product.productId}" />
													<input type="hidden" name="customerId"
														th:value="${item.shoppingCart.customer.accountId}" />
													<div class="input-group-prepend">
														<button class="btn btn-outline-primary js-btn-minus"
															type="button">−</button>
													</div>
													<input type="number" class="form-control text-center js-quantity"
														th:value="${item.quantity}" readonly />
													<div class="input-group-append">
														<button class="btn btn-outline-primary js-btn-plus"
															type="button">+</button>
													</div>
													<input class="js-direction" type="hidden" name="direction"
														value="+" />

												</div>
											</form>
										</td>
										<td th:text="'$' + ${item.product.productPrice * item.quantity}"
											class="js-total"></td>
										<td>
											<form th:action="@{'/remove-from-cart'}" method="post">
												<input type="hidden" name="customerId"
													th:value="${item.shoppingCart.customer.accountId}" />
												<input type="hidden" name="productId"
													th:value="${item.product.productId}" />
												<button type="submit" class="btn btn-primary btn-sm">X</button>
											</form>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="row mb-5">
							<div class="col-md-6">
								<button class="btn btn-outline-primary btn-sm btn-block"
									onclick="window.location='/shop'">Continue Shopping</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 pl-5">
						<div class="row justify-content-end">
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-12 text-right border-bottom mb-5">
										<h3 class="text-black h4 text-uppercase">Cart Totals</h3>
									</div>
								</div>
								<div class="row mb-5">
									<div class="col-md-6">
										<span class="text-black">SubTotal</span>
									</div>
									<br>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th class="product-name">Product</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-price">Price</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="item : ${cartItems}">
												<tr>
													<td th:text="${item.product.productName}"></td>
													<td th:text="${item.quantity}"></td>
													<td th:text="'$' + ${item.product.productPrice * item.quantity}"
														class="js-total"></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div class="row mb-5">
									<div class="col-md-6">
										<span class="text-black">Total</span>
									</div>
									<div class="col-md-6 text-right">
										<strong class="text-black" th:text="'$' + ${cartTotal}">$230.00</strong>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-primary btn-lg py-3 btn-block"
											onclick="window.location='/check-out'">Proceed To Checkout</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>



</body>

</html>

